.exm-content-info > * {
	float: left;
}

.exm-content-editor {
	/* Style the tab */
	.tab {
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
	}

	/* Style the buttons inside the tab */
	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 17px;
	}

	/* Change background color of buttons on hover */
	.tab button:hover {
		background-color: #ddd;
	}

	/* Create an active/current tablink class */
	.tab button.active {
		background-color: #ccc;
	}

	/* Style the tab content */
	.tabcontent {
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
	}

	#html-editor, #css-editor, #js-editor{
		height: 250px;
		width: 100%;
		font-size: 14px;
	}

	.preview-container {
		margin-top: 5px;
		height: 500px;
		display: flex;
		flex-direction: column;

		.devices {
			display: flex;
			list-style: none;
			justify-content: center;
			height: 15%;
			.selected{
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
			p {
				height: 45px;
				width: 45px;
			}
			button {
				.phone {
					background-image: url(../images/phone.svg), none;
				}
				.desktop {
					background-image: url(../images/laptop.svg), none;
				}
				.tablet {
					background-image: url(../images/tablet.svg), none;
				}
			}
		}
		.preview {
			width: 100%;
			height: 85%;
			overflow: hidden;
			
			display: flex;
			justify-content: center;
			
			.preview-wrapper {
				border: 1px solid black;
				overflow: scroll;

				.preview-iframe {
					height: 100%;
					width: 100%;

				}
			}
			.phone {
				width:335px;
				height: 100%;
			}
			.desktop {
				width:1200px;
				height: 100%;
			}
			.tablet {
				width:783px;
				height: 100%;
			}
		}

	}
}